<div class="row">
    <div class="col s12">
      <div class="card deep-purple lighten-5">
        <div class="card-content deep-purple-text">
          <span class="card-title valign-wrappe"><i class="material-icons small">info_outline</i>Attention!</span>
          <p>{{errorMessage}}</p>
        </div>
        {{!-- <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div> --}}
      </div>
    </div>
  </div>